.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px 10px;
  background-color: aliceblue;
  border-radius: 30px;
}
.welcome-container form {
  width: 90%;
  display: flex;
  background-color: aliceblue;
}
.input {
  border: 5px solid black;
  background-color: aliceblue;
}
